<!DOCTYPE html>
<html>
<head>
  <title>Jasmine Spec Runner</title>
  <!-- <link rel="shortcut icon" type="image/png" href="lib/jasmine-1.3.1/jasmine_favicon.png"> -->
  <%= stylesheet_link_tag 'jasmine' %>
  <%= javascript_include_tag 'lib/jasmine' %>
  <%= javascript_include_tag 'lib/jasmine-html' %>
  <%= javascript_include_tag 'all.js' %>
  <%= javascript_include_tag 'spec.js' %>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }
    })();
  </script>
</head>
<body>
</body>
</html>
